<?xml version="1.0" encoding="UTF-8"?>
<!-- 
	日志底层实现是用 sl4j 替换 commons-log
	日志输出与控制 : log4j  也可以考虑日志新秀 logback 
 -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j='http://jakarta.apache.org/log4j/'>
	<!-- 控制台 -->
	<appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[RUN_LOG] %-5p %d{HH:mm:ss} %l%n%m%n" />
		</layout>
		<filter class="org.apache.log4j.varia.LevelRangeFilter">  
            <param name="levelMin" value="INFO" />  
            <param name="levelMax" value="ERROR" />  
            <param name="AcceptOnMatch" value="true" />  
        </filter>
	</appender>
	

	<!-- 业务方法性能分析日志 -->
	<appender name="coalescingStatistics"
		class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<param name="TimeSlice" value="2000" />
		<appender-ref ref="STDOUT" />
	</appender>

	<logger name="org.perf4j.TimingLogger" additivity="false">
		<level value="DEBUG" />
		<appender-ref ref="coalescingStatistics" />
	</logger>

	<logger name="com.ds">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.springframework">
		<level value="DEBUG" />
	</logger>
	
	<logger name="com.ibatis">
		<level value="DEBUG" />
	</logger>
	<logger name="com.ibatis.sqlmap.engine.impl.SqlMapClientDelegate">
		<level value="DEBUG" />
	</logger>
	
	<logger name="java.sql.Connection">
		<level value="DEBUG" />
	</logger>
	
	<logger name="java.sql.Statement">
		<level value="DEBUG" />
	</logger>
	
	<logger name="java.sql.PreparedStatement">
		<level value="DEBUG" />
	</logger>
	
	<logger name="java.sql.ResultSet">
		<level value="DEBUG" />
	</logger>
	
	<logger name="org.apache.struts2">
		<level value="DEBUG" />
	</logger>
	
	<logger name="com.opensymphony.xwork2">
		<level value="WARN" />
	</logger>
	
	<logger name="org.apache">
		<level value="WARN" />
	</logger>
	
	<logger name="com.opensymphony.xwork2.ognl.OgnlValueStack">
		<level value="ERROR" />
	</logger>
	
	<!-- 限开发模式用 -->
	<logger name="com.mchange.v2">
		<level value="INFO" />
	</logger>

	<root>
		<priority value ="WARN"/>   
		<appender-ref ref="STDOUT" />
	</root>
	
	
    <appender name="IBatis" class="org.apache.log4j.ConsoleAppender">
    	<layout class="org.apache.log4j.PatternLayout">
    		<!-- <param name="ConversionPattern" value="%-4r [%t] %-5p %c %x - %n" />  -->
    		<param name="ConversionPattern" value="[RUN_LOG] %-5p %d{HH:mm:ss} %l%n%m%n" />
    	</layout>
    	<filter class="org.apache.log4j.varia.LevelRangeFilter">
    		<param name="LevelMin" value="DEBUG" />
    		<param name="LevelMax" value="DEBUG" />
    	</filter>
    </appender>

    <logger name="com.ibatis" additivity="true">
    	<level value="DEBUG" />
    </logger>

    <logger name="java.sql.Connection" additivity="true">
    	<level value="DEBUG" />
    </logger>

    <logger name="java.sql.Statement" additivity="true">
    	<level value="DEBUG" />
    </logger>

    <logger name="java.sql.PreparedStatement" additivity="true">
    	<level value="DEBUG" />
    	<appender-ref ref="IBatis" />
    </logger>

    <logger name="java.sql.ResultSet" additivity="true">
    	<level value="DEBUG" />
    	<appender-ref ref="IBatis" />
    </logger>

</log4j:configuration>
